.footer {
  background-color: var(--primary-background-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
  padding-bottom: 60px;
  padding-top: 60px;
}
.info {
  margin-right: 70px;
}
.footer-adress {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  display: inline-block;
  margin-top: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
.social-links {
  display: flex;
  margin-right: 32px;
  margin-left: 32px;
}
.footer .social-links {
  margin: auto;
}
.social > p {
  color: var(--primary-white-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.social-links li {
  margin-right: 10px;
}
.footer .social-links a {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.social-links a:hover,
.social-links a:focus {
  background-color: var(--accent-color);
}
.form {
  display: flex;
  align-items: flex-end;
  margin-left: 93px;
}
.label-text {
  position: relative;
  margin-bottom: 10px;
}
.icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-text:hover > .icon:hover {
  fill: var(--accent-color);
}
.form-name {
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-name:focus + .icon {
  fill: var(--accent-color);
}
.form-subscribe {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.form-input {
  display: block;
  margin-top: 20px;
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: var(--primary-white-color);
}
.form-input:hover,
.form-input:focus {
  margin-top: 20px;
  width: 358px;
  height: 50px;
  color: var(--primary-white-color);
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}

.submit {
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.8;
  text-align: center;
  letter-spacing: 0.06em;

  align-items: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.submit::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(./icons/icon\ send.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
